@import "tailwindcss";

@theme {
  --font-family-lexend: "Lexend", sans-serif;
  --color-navbar-bg: black;
  --color-primary: #ffffff;
  --color-hover: #8bae66;
  --color-gray: #3c3c3c;
}

@layer base {
  body {
    font-family: var(--font-family-lexend);
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgb(12, 12, 12) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(23, 23, 23) 1px, transparent 1px);
  }
  * {
    @apply transition-colors duration-50 ease-in;
  }
}

/* 

    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgb(36, 36, 36) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(36, 36, 36) 1px, transparent 1px);
  }
*/
